<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.eshop.dao.NavMapper">

    <resultMap id="queryNavResultMap" type="nav">
        <id property="cid" column="cid"/>
        <result property="name" column="cname"/>
        <collection property="brands" ofType="brand">
            <id property="bid" column="bid"/>
            <result property="name" column="bname"/>
        </collection>
    </resultMap>

    <select id="queryNav" resultMap="queryNavResultMap" >
        SELECT
            category.cid,
            category.name cname,
            brand.bid,
            brand.name    bname
        FROM category, brand, product
        WHERE product.bid = brand.bid
              AND product.cid = category.cid
        ORDER BY cid
    </select>

</mapper>